{% extends "base.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}Login{% endblock %}

{% block content %}
    <p>In order to mitigate spam attacks by bots, the only option to sign up and login
        is via <a href="https://orcid.org/">ORCID</a>.
        We only record your ORCID iD, your name and your email address.</p>

    <p>If you do not yet have and ORCID iD, you can still click the button and create one.</p>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a title="Orcid.org" class="socialaccount_provider orcid" id="connect-orcid-button"
               href="{% provider_login_url "orcid" process="login" scope=scope auth_params=auth_params %}"><img id="orcid-id-icon" src="{% static "images/ORCIDiD_icon.svg" %}" width="64" height="64" alt="ORCID iD icon"/>Register or Login using your ORCID iD</a>
        </div>
    </div>

    <p>In case of problems with the registration or the login, contact us at <a href="mailto:samba@plus.ac.at">samba@plus.ac.at</a></p>
{% endblock %}
