{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load registration %}

{% if should_render %}
    <div class="card mb-3">
        {% if blocklist.heading %}
            <h2 class="card-header">{{ blocklist.heading }}</h2>
        {% endif %}
        <div class="card-body">
            {% for block in blocklist.prepared_blocks %}
                {% render_registration_block block %}
            {% endfor %}
        </div>
    </div>
{% endif %}