{% extends "bsmodals/generic.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block body %}
    <p>Do you really want to let {{ object.user.first_name }} {{ object.user.last_name }} pay the remaining {{ object.amount_owed }} at registration?</p>
{% endblock %}

{% block footer %}
    <form method="post" action=".">
        {% csrf_token %}
        <input name="pay_at_conference" type="hidden" value="pay_at_conference_{{ object.user.first_name }}_{{ object.user.last_name }}">
        <input class="btn btn-primary" type="submit" value="Yes">
    </form>
    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
{% endblock %}