/*!
 * samba2020 - Webpage for https://samba.ccns.sbg.ac.at
 * Copyright (C) 2021. Thomas Hartmann <thomas.hartmann@th-ht.de>
 *
 * This file is part of samba2020.
 *
 * samba2020 is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * samba2020 is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
 */

@page {
  margin: 2cm;
  size: A4;
}

body {
  margin: 0;
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
}

address {
  font-style: normal;
  float: left;
  margin: 0;
  padding: 0;
}

time {
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
}

.reference-line {
  clear: both;
  margin: 2em 0 0 0;
  padding: 0;
  font-weight: bold;
}

#watermark {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#watermark p {
  color: #000;
  font-size: 120px;
  font-weight: bold;
  pointer-events: none;
  transform: rotate(-45deg);
}

.header-img {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer_element {
  flex: 1;
}

.richtext-image {
  max-width: 80%;
  height: auto;
  max-height: 1.3cm;
  display: block;
}

footer {
  position: fixed;
  bottom: -1cm;
  width: 100%;
}

footer p {
  font-size: 10px;
}