{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block header %}
    <h1>About the homepage for SAMBA</h1>
{% endblock %}

{% block content %}
    <p>&copy 2019-2021 Thomas Hartmann</p>
    <p>The code behind this homepage is open source under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL3</a> and can be found <a href="https://gitlab.com/obob_websites/samba2020">here</a>.</p>
    <p>The following libraries and data sources were used in this project:</p>
    <h4>Python Libraries</h4>
    <ul>
        {% for name, url in python_packages.items %}
            {% if url == "UNKNOWN" %}
                <li>{{ name }}</li>
            {% else %}
                <li><a href="{{ url }}">{{ name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h4>Javascript Libraries and css Frameworks</h4>
    <ul>
        {% for name, url in js_packages.items %}
            {% if url == "UNKNOWN" %}
                <li>{{ name }}</li>
            {% else %}
                <li><a href="{{ url }}">{{ name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h4>Data sources</h4>
    <ul>
        <li>Institution Data: <a href="https://www.grid.ac">Grid</a> under the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a></li>
        <li>Keywords: <a href="https://www.cam.ac.uk">University of Cambridge</a></li>
        <li>Maps: <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></li>
    </ul>

    <h4>Internal Information</h4>
    <ul>
        <li>git_commit_hash: {{ git.name_rev }}</li>
        <li>git_commit_datetime: {{ git.committed_datetime }}</li>
        <li>git_commit_author: {{ git.author }}</li>
        <li>git_commit_message: {{ git.message }}</li>
    </ul>

{% endblock %}