<!--
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'samba_home/base/page.html' %}
{% load wagtailcore_tags %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load linebreaks_to_paragraphs %}

{% block content %}
    {% include_block page.intro %}

    {% if filter %}
        <div class="my-3">
            <form action="" method="get" class="form" id="filter_form">
                <div class="row">
                    {% for field in filter.form %}
                        <div class="col">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary" type="submit">Filter</button>
                <button class="btn btn-secondary" type="button" id="reset_filter_button">Reset Filters</button>
            </form>
        </div>
    {% endif %}

    {% for cur_poster in page_obj %}
        <div class="row">
            <div class="col">
                <h3>{{ cur_poster.poster_number }}) {{ cur_poster.title }}</h3>
                <p>{{ cur_poster.html_indexed_authors }}</p>
                <p><em>{{ cur_poster.html_indexed_affiliations }}</em></p>
                <p>{{ cur_poster.content|linebreaks_to_p }}</p>
            </div>
        </div>
    {% endfor %}

    {% block pagination %}
        {% if page_obj and paginator.num_pages > 1 %}
            <nav aria-label="Table navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        {% block pagination.previous %}
                            <li class="previous page-item">
                                <a href="{% querystring "page"=page_obj.previous_page_number %}" class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                    previous
                                </a>
                            </li>
                        {% endblock pagination.previous %}
                    {% endif %}
                    {% if page_obj.has_previous or page_obj.has_next %}
                        {% block pagination.range %}
                            {% for p in page_obj|table_page_range:paginator %}
                                <li class="page-item{% if page_obj.number == p %} active{% endif %}">
                                    <a class="page-link" {% if p != '...' %}href="{% querystring "page"=p %}"{% endif %}>
                                        {{ p }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endblock pagination.range %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        {% block pagination.next %}
                            <li class="next page-item">
                                <a href="{% querystring "page"=page_obj.next_page_number %}" class="page-link">
                                    next
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endblock pagination.next %}
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% endblock pagination %}


{% endblock %}
