{% extends "samba_home/base/form.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load expose_to_template %}

{% block header %}
    Send Email to Participants of {{ page.get_parent.get_parent.title }}
{% endblock %}

{% block content %}
    {% if recipients %}
        <div class="row">
            <div class="col-8">
                <p>Recipients</p>
                <div class="card samba_scroll_100">
                    <div class="card-body">
                        <ul>
                            {% for cur_recipient in recipients %}
                                <li>{{ cur_recipient.first_name }} {{ cur_recipient.last_name }} &lt{{ cur_recipient.email }}&gt</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {{ block.super }}
            </div>
            <div class="col-4">
                {% exposed_descriptions %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger">
            You have not chosen any recipients. Please go back and fix this.
        </div>
    {% endif %}
{% endblock %}