{% extends 'samba_home/base/table.html' %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load wagtailroutablepage_tags %}

{% block header %}
    Send Email to Participants of {{ page.get_parent.get_parent.title }}
{% endblock %}

{% block content %}
    <p>Please use the filters below to choose, which participants to send the email.</p>
    <p><a href="{% routablepageurl page "write_email" %}" class="btn btn-primary">Click here to write to participants matching the filters</a></p>

    {{ block.super }}
{% endblock %}