{% extends "samba_home/base/form.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load crispy_forms_tags %}
{% load formset_tags %}

{% block form %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                {% if form_title %}
                    <h3>{{ form_title }}</h3>
                {% endif %}
                {% if form_helper %}
                    {% crispy form form_helper %}
                {% elif form.helper %}
                    {% crispy form %}
                {% else %}
                    {{ form|crispy }}
                {% endif %}
            </div>
            {% if inlines %}
                <div class="col-lg-4">
                    {% if formset_title %}
                        <h3>{{ formset_title }}</h3>
                    {% endif %}
                    {% if formset_extra_html %}
                        {{ formset_extra_html }}
                    {% endif %}
                    {% for formset in inlines %}
                        <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                            {{ formset.management_form }}
                            <div data-formset-body>
                                {% for form in formset %}
                                    <div data-formset-form>
                                        {% crispy form author_form_helper %}
                                    </div>
                                {% endfor %}
                            </div>
                            <script type="form-template" data-formset-empty-form>
                                {% escapescript %}
                                    <div data-formset-form>
                                        {% crispy formset.empty_form author_form_helper %}
                                    </div>
                                {% endescapescript %}
                            </script>

                            <i class="fas fa-plus mt-2 mb-2" data-formset-add style="font-size: 24px;"></i>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block css %}
    {{ form.media.css }}
    {% if inlines %}
        {% for formset in inlines %}
            {{ formset.empty_form.media.css }}
        {% endfor %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
    {% if inlines %}
        {% for formset in inlines %}
            {{ formset.empty_form.media.js }}
        {% endfor %}
    {% endif %}
{% endblock %}