{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load registration %}
{% load wagtailroutablepage_tags %}
{% load crispy_forms_tags %}

{% block header %}
    Manage {{ page.get_parent.get_parent.title }} registration of {{ object.user.first_name }} {{ object.user.last_name }}
{% endblock %}

{% block content %}
    <div class="container">
        {% for item in fields_and_values %}
            <div class="row">
                <div class="col-3">{{ item.description }}</div>
                <div class="col">{% render_detail_object item %}</div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <a class="btn btn-primary" href="{% routablepageurl page "add_payment" object.pk %}">Add payment</a>
        {% if object.payment_status == "pending" %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_confirm_pay_at_conference_modal">Pay remaining amount at registration</button>
        {% endif %}
        {% if object.payment_status == 'pending' or object.pay_at_conference %}
            <button type="button" class="btn btn-primary" id="id_set_discount_button" data-toggle="modal" data-target="#id_set_discount_modal">Set Discount</button>
        {% endif %}
        {% if object.payment_status == 'complete' %}
            <a class="btn btn-primary" href="{% url "payment-confirmation" object.pk %}">Download Payment Confirmation</a>
        {% endif %}
        {% if object.unregister_date %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_extend_deadline_modal" id="id_extend_deadline_button">Extend Payment Deadline</button>
        {% endif %}
    </div>

    {% include "samba_home/registration_detail/pay_at_conference_modal.html" with dialog_id="id_confirm_pay_at_conference_modal" title="Please confirm" object=object %}
    {% include "samba_home/registration_detail/extend_deadline_modal.html" with dialog_id="id_extend_deadline_modal" title="Extend Deadline" form=extend_deadline_form %}
    {% include "samba_home/registration_detail/set_discount_modal.html" with dialog_id='id_set_discount_modal' title='Set discount' form=set_discount_form %}
{% endblock %}