{% extends "samba_home/base/form.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load registration %}

{% block header %}
    Review {{ page.get_parent.get_parent.title }} abstract of {{ object.user.first_name }} {{ object.user.last_name }}
{% endblock %}

{% block pre_form %}
    <div class="container">
        {% for item in fields_and_values %}
            <div class="row">
                <div class="col-3">{{ item.description }}</div>
                <div class="col">{% render_detail_object item %}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block form_outer %}
<div class="container">
        {{ block.super }}
</div>
{% endblock %}