{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load webpack_static from webpack_loader %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% include_block page.intro %}

    <div class="row">
        {% for speaker in page.sorted_speakers %}
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card h-100">
                    <a href="{{ speaker.url }}">{% image speaker.profile_picture fill-200x300-c100 class="card-img-top img-fluid" %}</a>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{{ speaker.url }}"><h5 class="card-title">{{ speaker.full_name }}</h5></a>
                        </div>
                        {% if speaker.affiliation_name %}
                            <div class="card-subtitle">
                                {{ speaker.affiliation_name }}
                            </div>
                        {% endif %}
                        {% if speaker.photo_copyright %}
                                <footer><small>Photo: {{ speaker.photo_copyright }}</small></footer>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {% comment %}<div class="container">
        {% include 'samba_home/exposed_tags/speaker_list.html'  with speakers=page.get_children.specific %}
    </div>{% endcomment %}
{% endblock content %}