{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block header %}
    {{ page.specific.full_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% image page.profile_picture min-250x350 class="img-fluid mt-1 mb-3" %}
                {% if page.specific.photo_copyright %}
                    <p><small>Photo: {{ page.specific.photo_copyright }}</small></p>
                {% endif %}
                {% if page.specific.affiliation_link %}
                    <p><a href="{{ page.specific.affiliation_link }}" target="_blank">{{ page.specific.affiliation_name }}</a></p>
                {% else %}
                    <p>{{ page.specific.affiliation_name }}</p>
                {% endif %}
                {% if page.specific.speaker_url %}
                    <p><a href="{{ page.specific.speaker_url }}" target="_blank">Homepage</a></p>
                {% endif %}
            </div>
            <div class="col-lg-9">
                {% if page.specific.abstract %}
                    {% if page.specific.talk_title %}
                        <h2>{{ page.specific.talk_title }}</h2>
                    {% else %}
                        <h2>Abstract</h2>
                    {% endif %}
                    <p>{% include_block page.specific.abstract %}</p>
                {% endif %}
                {% if page.specific.biography %}
                    <h2>Biography</h2>
                    <p>{% include_block page.specific.biography %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}