{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load menu_tags %}
{% if menu_items %}
    <div class="dropdown-menu">
            {% for item in menu_items %}
                {% if item.has_children_in_menu %}
                        <div class="dropdown dropright dropdown-submenu">
                {% endif %}
                <a {% if item.has_children_in_menu %} href="#" class="dropdown-item dropdown-toggle" id="ddtoggle_{{ item.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% else %} class="dropdown-item" href="{{ item.href }}"{% endif %}>{{ item.text }}{% if item.has_children_in_menu %} <span class="caret"></span>{% endif %}</a>
                {% if item.has_children_in_menu %}
                    {% sub_menu item template=current_template %}
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endif %}
