{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load static wagtailcore_tags wagtailimages_tags wagtailsimplegallery_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/simple-gallery.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="gallery-wrapper">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% if page.intro_title %}<p class="intro-content">{{ page.intro_title }}</p>{% endif %}
                        {% if page.intro_text %}{{ page.intro_text|richtext }}{% endif %}
                        {% if current_tag %}<h2>#{{ current_tag }}</h2>{% endif %}
                        {% if gallery_tags %}
                            <div class="gallery-tags">
                                Tags:
                                {% for tag in gallery_tags %}
                                    <a href="/{{page.slug}}/tags/{{ tag.slug }}">#{{ tag }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        {% include 'wagtail_simple_gallery/simple_gallery.html' %}

        {% if gallery_images.has_next or gallery_images.has_previous %}
            <div class="container">
                <div class="gallery-pagination-container row">
                    <div class="col-sm-2">
                        {% if gallery_images.has_previous %}
                            <a href="?page={{ gallery_images.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">&lt;&lt; Previous</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-8 text-center">
                        <ul class="gallery-pagination">
                            {% for page in gallery_images.paginator.page_range %}
                                <li class="gallery-pagination-item {% if gallery_images.number == page  %}active{% endif %}">
                                    <a class="{% if gallery_images.number == page  %}active{% endif %}" href="?page={{page }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-2 text-right">
                        {% if gallery_images.has_next %}
                            <a href="?page={{ gallery_images.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">Next &gt;&gt;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}
