{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static wagtailimages_tags wagtailsimplegallery_tags %}

<link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}"/>
<div class="row gallery-container">
    {% for img in gallery_images %}
        {% image img fill-250x250 as img_thumb %}
        <div class="gallery-thumbnail-container col-md-3">
            <a href="{{ img|original_url }}" title="{{ img_thumb.alt|hide_num_order }}">
                <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="gallery-thumbnail">
            </a>
            <link rel="preload" href="{{ img|original_url }}">
        </div>
    {% endfor %}
</div>


{% if page.use_lightbox or use_lightbox %}
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script type="text/javascript">
        baguetteBox.run('.gallery-container');
    </script>
{% endif %}
