<div>
    <ul>
        <li>Name: <span class="checkin_name"></span></li>
        <li>Affiliation: <span class="affiliation"></span></li>
        <li>Ticket: <span class="ticket"></span></li>
        <li>Ticket Options: <span class="ticket_options"></span></li>
        <li>Poster Title: <span class="poster_title"></span></li>
        <li>Poster Number: <span class="poster_number"></span></li>
        <li>Takes part in Poster Prize: <span class="poster_prize"></span></li>
    </ul>

</div>