{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load embed_image %}
{% load inline_static_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    {% render_bundle 'samba_web/pdf.scss' 'css' %}

</head>

<body>
{% image object.conference.pdf_header_image width-500 as header_image %}
{% if header_image.file %}
    <img src="{{ header_image|embed }}" class="header-img"/>
{% else %}
    {{ header_image }}
{% endif %}
<address id="participant_address">
    To:<br/>
    <strong>{{ object.full_name }}</strong>
</address>

<time>Salzburg, {% now "d F Y" %}</time>

<p class="reference-line">
    {% block header %}
    {% endblock %}
</p>

<div class="content">
    {% block body %}
    {% endblock %}
</div>

<div id="watermark">
    <p>
        {{ watermark }}
    </p>
</div>

<footer class="printfooter">
    <div class="footer">
        {% with object.conference.pdf_footer.0 as footer_blocks %}
            <div class="footer_element align-bottom">
                {% include_block footer_blocks.value.left_column %}
            </div>
            <div class="footer_element align-bottom">
                {% include_block footer_blocks.value.middle_column %}
            </div>
            <div class="footer_element align-bottom">
                {% include_block footer_blocks.value.right_column %}
            </div>
        {% endwith %}
    </div>
    <div class="pure-g align-g-bottom">
        <div class="pure-u-1-1">
            <p>This pdf was signed with a digital key. If you want to verify its authenticity, go to <a href="{{ verify_pdf_url }}">{{ verify_pdf_url }}</a>.</p>
        </div>
    </div>
</footer>
</body>