{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static wagtailuserbar %}
{% load menu_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load title_generator %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% generate_title %}</title>

    {% if settings %}
        {% image settings.samba_home.generalsitesettings.favicon fill-64x64 as favicon %}
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon.url }}">

    {% block css %}
        {% render_bundle 'samba_web/init_css.js' 'css' %}
    {% endblock %}

</head>

<body>

{% wagtailuserbar %}

<!-- Navigation -->
{% wagtail_site as current_site %}

{% if current_site is not None %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">

            <a class="navbar-brand" href="/">{% image settings.samba_home.GeneralSiteSettings.top_logo height-50 %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% main_menu template="menu/samba/main_menu.html" %}
                </ul>
            </div>

        </nav>
    </div>
{% endif %}

{% block outer_header %}<div class="container my-4"><h1>{% block header %} {% endblock %}</h1></div>{% endblock %}

<!-- Page Content -->
{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include "components/alerts.html" %}
            </div>
        </div>
        <div class="row content-row">
            <div class="col content-col">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

<footer class="footer bg-light container">
    <div class="row">
        {% if settings %}
            {% with settings.samba_home.generalsitesettings.page_footer.0 as footer_blocks %}
                <div class="col-md-4">
                    {% include_block footer_blocks.value.left_column %}
                </div>
                <div class="col-md-4">
                    {% include_block footer_blocks.value.middle_column %}
                </div>
                <div class="col-md-4 {% if footer_blocks.value.middle_column.source == '' %}text-md-right{% endif %}">
                    {% include_block footer_blocks.value.right_column %}
                </div>
            {% endwith %}
        {% endif %}
    </div>
</footer>

{{ self.turn_table_links_into_buttons|json_script:"turn_table_links_into_buttons" }}

{% block javascript %}
    {% render_bundle 'samba_web/init_general.js' %}
    {% for js in extra_js %}
        {% render_bundle js skip_common_chunks=True %}
    {% endfor %}
{% endblock %}

{% include "cookies/cookiealert.html" %}

</body>

</html>
