{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        {% include_block page.intro %}
        {% block pre_form %}{% endblock %}
        {% block form_outer %}
            {% if not form.helper %}
                <form method="post" action="." enctype="multipart/form-data">
            {% endif %}
        {% block form %}
            {% if form.helper %}
                {% crispy form %}
            {% else %}
                {{ form|crispy }}
            {% endif %}
        {% endblock %}
        {% if not form.helper %}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="{{ submit_text|default:"Submit" }}">
            </form>
        {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}