{% extends "samba_home/base/page.html" %}

{% comment %}
    samba2020 - Webpage for https://samba.ccns.sbg.ac.at
    Copyright (C) 2019-2021 Thomas Hartmann <thomas.hartmann@th-ht.de>

    This file is part of samba2020.

    samba2020 is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    samba2020 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    {% if filter %}
        <div class="my-3">
            <form action="" method="get" class="form" id="filter_form">
                <div class="row">
                    {% for field in filter.form %}
                        <div class="col">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary" type="submit">Filter</button>
                <button class="btn btn-secondary" type="button" id="reset_filter_button">Reset Filters</button>
            </form>
        </div>
    {% endif %}
    {% render_table table %}
{% endblock %}