/*
 * samba2020 - Webpage for https://samba.ccns.sbg.ac.at
 * Copyright (C) 2019-2020 Thomas Hartmann <thomas.hartmann@th-ht.de>
 *
 * This file is part of samba2020.
 *
 * samba2020 is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * samba2020 is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with samba2020.  If not, see <http://www.gnu.org/licenses/>.
 */

.gallery-wrapper {
  margin-top: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.gallery-thumbnail-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.gallery-thumbnail {
  border: 2px solid #dfdfdf;
  box-shadow: 1px 1px 3px #333;
  width: 250px;
  height: 250px;
}

.gallery-thumbnail:hover {
  box-shadow: 1px 1px 3px #fff;
}

.gallery-pagination-container {
  border-top: 9px solid #dfdfdf;
  font-size: 20px;
  padding-top: 10px;
  list-style-type: none;
}

.gallery-pagination-container a {
  padding: 4px 6px;
}

.gallery-pagination-item {
  display: inline-block;
}

.gallery-pagination-item.active a {
  text-decoration: underline;
}

.gallery-tags {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .gallery-thumbnail-container {
    max-width: 100%;
    width: 25%;
    height: auto;
    margin-bottom: 10px;
  }

  .gallery-thumbnail {
    width: 96%;
    height: auto;
  }
}